*, ::before, ::after {
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    font-size: 2vw;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.building{
    display: grid;
    grid: "press confr" 1fr / 12fr 3fr;
    /* margin-top: 5vh; */
    height: 80vh;
    /* min-height: 310px; */
    width: 90vw;
    /* min-width: 550px; */
    border: 3px solid gray;
}

.press-center, .conference{
    border: 3px solid gray;
}

.press-center{
    display: grid;
    grid-area: press;
    grid:   "device4 device3 device2" 8fr 
            "room-name room-name room-name" 2fr 
            / 1fr 1fr 1fr;
}

.conference{
    display: grid;
    grid-area: confr;
    grid:   "device" 8fr 
            "room-name" 2fr 
            / 1fr;
}

.conference *, .press-center *{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.device-4{
    grid-area: device4;
}
.device-3{
    grid-area: device3;
}
.device-2{
    grid-area: device2;
}
.device{
    grid-area: device;
}

.device, .device-2, .device-3, .device-4{
    height: 100%;
    display: grid;
    grid:   ". device-name device-name ." 2fr 
            ". in-value out-value ." 3fr 
            ". middle middle ." 3fr 
            / 1fr 3fr 3fr 1fr ;
}

.device  *{
    
    
}

.device-name{
    grid-area: device-name;
}

.in-value {
    grid-area: in-value;
    display: block;
}

.in-value .value{
    border: 3px solid blue;
}

.out-value {
    grid-area: out-value;
    display: block;
}

.out-value .value{
    border: 3px solid red;
}

.value-name, .value{
    height: 50%;
}
.middle{
    grid-area: middle;
    text-align: center;
}

.room-name{
    grid-area: room-name;
    
}

.round-border{
    width:7vw;
    height: 7vw;
    border-radius: 50%;
    border: 3px solid black;
}

.warning{
    background: yellow;
}

.outside{
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.last-update{
    color: rgb(77, 74, 74);
    font-size: 1.5vw;
    padding: 1vw;
}